[MESSAGES CONTROL]
disable=
    missing-docstring,
    no-member,
    wildcard-import,
    broad-exception-caught,
    unnecessary-lambda,
    too-many-statements,
    too-many-public-methods,
    too-few-public-methods,
    protected-access,
    too-many-instance-attributes,
    logging-fstring-interpolation,
    line-too-long,
    invalid-name,
    duplicate-code,
    wrong-import-position,
    import-outside-toplevel,
    too-many-lines
load-plugins=
    pylint.extensions.docparams,pylint.extensions.docstyle,
    pylint.extensions.broad_try_clause,
    pylint.extensions.code_style,
    pylint.extensions.comparison_placement,
    pylint.extensions.confusing_elif,
    pylint.extensions.for_any_all,
    pylint.extensions.consider_ternary_expression,
    pylint.extensions.bad_builtin,
    pylint.extensions.mccabe,
    pylint.extensions.dict_init_mutate,
    pylint.extensions.check_elif,
    pylint.extensions.magic_value,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.no_self_use,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.redefined_loop_name,
    pylint.extensions.set_membership,
    pylint.extensions.typing
extension-pkg-allow-list=
    dearpygui._dearpygui
