[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
xrfsplitter = {file = ".", editable = true}
coloredlogs = "*"
dearpygui = "==1.11.0"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
attrs = "*"
openpyxl = "*"
pandas = {extras = ["performance"], version = "*"}

[dev-packages]
black = "*"
bandit = "*"
pandas-stubs = "*"
setuptools = "*"
ipykernel = "*"
nuitka = "*"
memory-profiler = "*"
typing-extensions = "*"
pip-licenses = "*"
pylint = "*"
ruff = "*"

[requires]
python_version = "3.12"
