[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
usb-monitor = "*"
xrfsplitter = {file = ".", editable = true}
dearpygui = "*"
coloredlogs = "*"

[dev-packages]
black = "*"
bandit = "*"
pandas-stubs = "*"
setuptools = "*"
ipykernel = "*"
nuitka = "*"

[requires]
python_version = "3.11"
